{% extends "layout.html" %}

{% block body %}
  <h1>Main Page</h1>
  <p>
  This is main page of Harrastuslista software. Software is used for keeping list of clubs and their members. Users have own page where they can tell their equipments.
  </p>
  <h2>Club Leaders</h2>
  {% if not leaders %}
    <p>There is no club leaders</p>
  {% else %}
    <table class="table table-striped">
      <thead class="thead-dark">
        <th>Name</th>
        <th>Clubs Count</th>
      </thead>
      <tbody>
      {% for leader in leaders %}
        <tr>
          <td>
            <a href={{ url_for("user_page", user_id=leader.id) }}>
              {{ leader.name }}
            </a>
          </td>
          <td> {{ leader.clubs }} </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
