{% extends "layout.html" %}

{% block body %}
  <h1>Main Page</h1>
  <p>
  This is main page of Harrastuslista software. Software is used for keeping list of clubs and their members. Users have own page where they can tell their equipments.
  </p>
  <h2>Club Leaders</h2>
  {% if not leaders %}
    <p>There is no club leaders</p>
  {% else %}
    <ul>
      {% for leader in leaders %}
        <li>
          <a href={{ url_for("user_page", user_id=leader.id) }}>
            {{ leader.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
