<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Harrastuslista</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
      <p>
      Kirjautunut nimellä {{ current_user.name }} <a href="{{ url_for('auth_logout') }}">Logout</a>
      </p>
    {% else %}
      <a href="{{ url_for('auth_login') }}">Login</a>
    {% endif %}

    <ul>
      <li><a href={{ url_for("clubs_index") }}>List clubs</a></li>
      <li><a href={{ url_for("clubs_form") }}>Add a club</a></li>
    </ul>

    {% block body %}
      <p>Content</p>
    {% endblock %}
  </body>
</html>
