{% extends "layout.html" %}
{% block body %}
  <h1>{{ club.name }}</h1>
  <h2>{{ club.hobby }}</h2>
  {% if current_user.is_authenticated and club.leader_id == current_user.id %}
    <p>You are leader of this club</p>
    <form class="form-inline" method="POST" action="{{ url_for('clubs_delete', club_id=club.id) }}">
      <input type="submit" class="btn btn-primary col-2" value="Delete club">
    </form>
  {% endif %}
  {% if current_user.is_authenticated and current_user in club.members %}
    Joined to Club
  {% else %}
    Join to Club
    <form class="form-inline" method="POST" action="{{ url_for('club_join', club_id=club.id) }}">
      <input type="submit" class="btn btn-primary col-2" value="Join Club">
    </form>
  {% endif %}
  <h2>Members</h2>
  <ul>
    {% for m in club.members %}
      <li><a href={{ url_for("user_page", user_id=m.id) }}>{{ m.name }}</a></li>
    {% endfor %}
  </ul>
  <h2>Messages</h2>
  {% if current_user.is_authenticated and current_user.id == club.leader_id %}
    <form class="form-inline" method="POST" action="{{ url_for('message_add', club_id=club.id) }}">
      <label for="message"{{ messageForm.message.label }}</label>
      {{ messageForm.message(class="form-control", id="messages") }}
      <input type="submit" class="btn btn-primary col-2" value="Add message">
    </form>
  {% else %}
    <p><small>Only club leader can add messages</small></p>
  {% endif %}
  {% if current_user.is_authenticated and (current_user in club.members or current_user.id == club.leader_id) %}
    <ul>
      {% for m in club.messages %}
        <li>
          <form class="form-inline" method="POST"
                                    action="{{ url_for('message_delete', club_id=club.id, message_id=m.id) }}">
            <p class="col-4">{{ m.message }}</p>
            <input type="submit" class="btn btn-danger col-2" value="Delete message">
          </form>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p><small>Only club leader and club members can see messages</small></p>
  {% endif %}
{% endblock %}
