{% extends "layout.html" %}
{% block body %}
  <h1>{{ club.name }}</h1>
  <h2>{{ club.hobby }}</h2>
  {% if current_user.is_authenticated and club.leader_id == current_user.id %}
    <p>You are leader of this club</p>
    <form class="form-inline" method="POST" action="{{ url_for('clubs_delete', club_id=club.id) }}">
      <input type="submit" class="btn btn-primary col-2" value="Delete club">
    </form>
  {% endif %}
  {% if current_user.is_authenticated and current_user in club.members %}
    Joined to Club
  {% else %}
    Join to Club
    <form class="form-inline" method="POST" action="{{ url_for('club_join', club_id=club.id) }}">
      <input type="submit" class="btn btn-primary col-2" value="Join Club">
    </form>
  {% endif %}
  <ul>
    {% for m in club.members %}
      <li><a href={{ url_for("user_page", user_id=m.id) }}>{{ m.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
