{% extends "layout.html" %}
{% block body %}
  <h1>Clubs</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Harrastus</th>
        <th>Johtaja</th>
      </tr>
    </thead>
    <tbody>
      {% for club in clubs %}
        <tr>
          <td><a href={{ url_for("club_page", club_id=club.id) }}>{{ club.name }}</a></td>
          <td>{{ club.hobby }}</td>
          <td><a href={{ url_for("user_page", user_id=club.leader_id) }}>{{ club.get_leader().name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
