{% extends "layout.html" %}

{% block body %}
  {{ error }}
  <form method="POST" action="{{ url_for('auth_login') }}">
    <div class="form-group">
      <label for="loginUsername">{{ form.username.label }}</label>
      {{ form.username(class="form-control", id="loginUsername") }}
    </div>
    <div class="form-group">
      <label for="loginPassword">{{ form.password.label }}</label>
      {{ form.password(class="form-control", id="loginPassword") }}
    </div>
    <input type="submit" class="btn btn-primary" value="Login"/>
  </form>
{% endblock %}
