{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('auth_signin') }}">
    <div class="form-group">
      <label for="signinName">{{ form.name.label }}</label>
      {{ form.name(class="form-control", id="signinName") }}
    </div>
    <div class="form-group">
      <label for="signinUsername">{{ form.username.label }}</label>
        {{ form.username(class="form-control", id="signinUsername") }}
    </div>
    <div class="form-group">
      <label for="signinPassword">{{ form.password.label }}</label>
        {{ form.password(class="form-control", id="signinPassword") }}
    </div>
    <input type="submit" class="btn btn-primary" value="Login"/>
</form>
{% endblock %}
