{% extends "layout.html" %}
{% block body %}
  <div>
    <h1>{{ user.username }}</h1>
    <h2>Personal info</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.gender }}</td>
        </tr>
      </tbody>
    </table>
    <h3>Clubs</h3>
    <ul>
      {% for c in user.joined %}
        <li><a href={{ url_for("club_page", club_id=c.id) }}>{{ c.name }}</a></li>
      {% endfor %}
    </ul>
    <h3>Equipments</h3>
    {% if current_user.is_authenticated and current_user.id == user.id %}
      <div>
        <form class="form-inline" method="POST" action="{{ url_for('equipment_add') }}">
          <label for="equipmentName">{{ equipmentForm.equipment.label }}</label>
          {{ equipmentForm.equipment(class="form-control", id="equipmentName") }}
          <input type="submit" class="btn btn-primary col-2" value="Add equipment">
        </form>
        <small>
          <ul>
            {% for error in equipmentForm.equipment.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </small>
      </div>
    {% endif %}
    <ul>
      {% for e in user.equipments %}
        <li>
          <form class="form-inline" method="POST" action="{{ url_for('equipment_delete', equipment_id=e.id) }}">
            <p class="col-4">{{ e.name }}</p>
            <input type="submit" class="btn btn-primary col-2" value="Delete equipment">
          </form>
        </li>
      {% endfor %}
    </ul>
    {% if current_user.is_authenticated and current_user.id == user.id %}
      <h3>Following</h3>
      <ul>
        {% for u in user.following %}
          <li>{{ u.name }}</li>
        {% endfor %}
      </ul>
    {% else %}
      {% if current_user.is_authenticated and user in current_user.following %}
        <p>You are following {{ user.name }}</p>
      {% else %}
        <form class="form-inline" method="POST"action="{{
        url_for('user_follow', user_id=current_user.id, follow_id=user.id)
        }}">
          <input type="submit" class="btn btn-primary" value="follow">
        </form>
      {% endif %}
    {% endif %}
    {% if current_user.is_authenticated and current_user.id == user.id %}
      <h3>Options</h3>
      <p>You must fill all of the fields</p>
      <form method="POST" action="{{ url_for('user_options', user_id=current_user.id) }}">
        <div class="form-group">
          <label for="optionName">{{ optionsForm.name.label }}</label>
          {{ optionsForm.name(id="optionName") }}
          <small>
            <ul>
              {% for error in optionsForm.name.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </small>
        </div>
        <div class="form-group">
          <label for="optionAge">{{ optionsForm.age.label }}</label>
          {{ optionsForm.age(id="optionAge") }}
          <small>
            <ul>
              {% for error in optionsForm.age.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </small>
        </div>
        <div class="form-group">
          <label for="optionsGender">{{ optionsForm.gender.label }}</label>
          {{ optionsForm.gender(id="optionsGender") }}
          <small>
            <ul>
              {% for error in optionsForm.gender.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </small>
        </div>
        <input type="submit" class="btn btn-primary" value="Save Changes">
      </form>
    {% endif %}
  </div>
{% endblock %}
